<configuration>
    <appender name="USER_LOG" class="ch.qos.logback.core.FileAppender">
        <file>logs/user.log</file>
        <append>true</append>
        <encoder>
            <pattern>%date %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="EMAIL_LOG" class="ch.qos.logback.core.FileAppender">
        <file>logs/email.log</file>
        <append>true</append>
        <encoder>
            <pattern>%date %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="SERVER_LOG" class="ch.qos.logback.core.FileAppender">
        <file>logs/server.log</file>
        <append>true</append>
        <encoder>
            <pattern>%date %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="model.UserManager" level="DEBUG" additivity="false">
        <appender-ref ref="USER_LOG" />
    </logger>

    <logger name="model.EmailManager" level="DEBUG" additivity="false">
        <appender-ref ref="EMAIL_LOG" />
    </logger>

    <logger name="server.TCPServer" level="DEBUG" additivity="false">
        <appender-ref ref="SERVER_LOG" />
    </logger>

    <root level="INFO">
        <appender-ref ref="SERVER_LOG" />
    </root>
</configuration>
